@page "/taskQueueChart"
@using ClassLibrary1
@using SharedModels
@using SharedModels.DTO

@inject HttpClient http
@rendermode InteractiveServer

@using ExcelChartsBlazorOpenxml.Services
@using WebApplicationAPI.Models
@inject IFitToConceptService fitToConceptService;

@if (!isDataLoaded)
{
    <h2>loading.............</h2>
}
else
{
    <button type="button" class="btn btn-primary buttonload" @onclick="Process">Generate Report</button>

    <div>
        <div class="card card-body">
            <table class="table  table-striped">
                <thead>
                    <tr style="font-size: xx-small;">
                        <th scope="col">Task ID</th>
                        <th scope="col">Project Type</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Completed On</th>
                        <th scope="col">Generation Time</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (LogList == null || LogList.Count == 0)
                    {
                        <tr style="font-size: xx-small;">
                            <td colspan="7" class="text-center">No data</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var data in LogList)
                        {
                            <tr style="font-size: xx-small;">
                                <td>@data.TaskId</td>
                                <td>@data.ProjectType</td>
                                <td>@data.CreatedOn.ToString("dddd, dd MMMM yyyy HH:mm:ss")</td>
                                <td>@data.CompletedOn</td>
                                <td>
                                    @{
                                        var duration = data.CompletedOn - data.CreatedOn;
                                        string formattedDuration = string.Format("{0:%m}m {0:%s}s", duration);
                                    }
                                    @formattedDuration
                                </td>
                                <td>@data.CreatedBy</td>
                                <td class="@GetStatusClass(data.CurrentStatus)">
                                    @data.CurrentStatus
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @* unfinished reports *@


        <table class="table table-striped">
            <thead>
                <tr style="font-size: xx-small;">
                    <th>ProjectType</th>
                    <th>Task ID</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (UndoneQueueList == null || UndoneQueueList.Count == 0)
                {
                    <tr style="font-size: xx-small;">
                        <td colspan="5" class="text-center">No data</td>
                    </tr>
                }
                else
                {
                    @foreach (var task in UndoneQueueList)
                    {
                        <tr style="font-size: xx-small;">
                            <td>@task.ProjectType</td>
                            <td>@task.TaskId</td>
                            <td class="@GetStatusClass(task.CurrentStatus)">
                                @task.CurrentStatus
                            </td>
                            <td>@task.CreatedBy</td>
                            <td class="p-0">
                                <button class="btn btn-info btn-sm"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                        @onclick="@(()=>RetryAgain(task))">
                                    Retry
                                </button>
                                &nbsp;
                                <button class="btn btn-danger btn-sm"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                        @onclick="@(()=>RemoveTask(task))">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>


    </div>



    @if (hasProcessStarted)
    {
        <p class="text-center">
            <i class="fas fa-spinner fa-spin"></i>
        </p>
    }

    @if (reportStatuses == null)
    {
        <h4 class="text-secondary">Processing....</h4>
    }
    else if (reportStatuses.Count == 0)
    {
        @* <h6 class="text-center">No queued items yet</h6> *@
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Task ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in reportStatuses)
                {
                    <tr>
                        <td>@task.ProjectName</td>
                        <td>@task.TaskId</td>

                        @if (task.Status == "Queued")
                        {
                            <td class="statusTableEl">
                                <div class="text-warning bg-dark statusText">@task.Status</div>
                                <div class="spinner-border  spinner-border-sm text-info" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>

                        }
                        else if (task.Status == "Processing")
                        {
                            <td>@task.Status</td>
                        }
                        else if (task.Status == "Done")
                        {
                            <td class="text-info bg-dark">@task.Status</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {

    bool isDataLoaded = false;

    ProcessState currentState = ProcessState.Idle;

    public string GetStatusClass(string status)
    {
        return status switch
        {
            "Done" => "text-info bg-dark",
            "Processing" => "text-warning bg-dark",
            "Fail" => "text-danger bg-dark",
            "Queued" => "text-primary-emphasis bg-dark",
            _ => "text-info-emphasis bg-dark"
        };
    }

    public bool hasProcessStarted = false;
    List<FitToConceptModel> fitToConceptsData;
    List<OverallImpressionsModel> OverallImpressionsData;
    List<Aev1> Attribute1Data;
    List<Aev2> Attribute2Data;
    List<Aev3> AttributeAggregrateData;
    List<Memorability> MemorabilityData;
    List<PersonalPreference> PersonalPreferenceData;
    List<Suffix> SuffixData;
    List<VerbalUnderstanding> VerbalUnderstandingData;
    List<WrittenUnderstanding> WrittenUnderstandingData;
    List<Likeability> Exagg;
    List<TaskLog> LogList;

    List<TaskLog> UndoneQueueList;

    public class ReportStatus
    {
        public string ProjectName { get; set; } = string.Empty;
        public Guid TaskId { get; set; }
        public string Status { get; set; } = string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();
        fitToConceptsData = await fitToConceptService.GetFitToConceptData();
        OverallImpressionsData = await fitToConceptService.GetOverallImpressionsData();
        Attribute1Data = await fitToConceptService.GetAtt1Data();
        Attribute2Data = await fitToConceptService.GetAtt2Data();
        AttributeAggregrateData = await fitToConceptService.GetAttrAggData();
        MemorabilityData = await fitToConceptService.MemorabilityData();
        PersonalPreferenceData = await fitToConceptService.PersonalPrefData();
        SuffixData = await fitToConceptService.SuffixData();
        VerbalUnderstandingData = await fitToConceptService.VerbalUnderData();
        WrittenUnderstandingData = await fitToConceptService.WrittenUnderData();
        Exagg = await fitToConceptService.ExaggData();

        StateHasChanged();
        LogList = await fitToConceptService.GetLogs();
        StateHasChanged();


        isDataLoaded = true;
        StateHasChanged();

        StartHotReload();
        UndoneQueueList = await fitToConceptService.GetUnfinishedLogs("testUser");
    }

    private void RetryAgain(TaskLog report)
    {
        var data = report;



    }

    private void RemoveTask(TaskLog task)
    {
        
    }

    private void StartHotReload()
    {
        var timer = new System.Threading.Timer((_) =>
       {
           InvokeAsync(async () =>
           {
               await LoadLogs();
               StateHasChanged();
           });
       }, null, 0, 5000);
    }

    private async Task LoadLogs()
    {
        LogList = await fitToConceptService.GetLogs();
        UndoneQueueList = await fitToConceptService.GetUnfinishedLogs("testUser");
        StateHasChanged();
    }

    private List<ReportStatus> reportStatuses = new();

    List<string> projectList = new List<string> {
                                    "FitToConcept",
                                    "OverallImpressions",
                                    "Att1",
                                    "Att2",
                                    "AttrAggr",
                                    "Memorability",
                                    "PersonalPref",
                                    "Suffix",
                                    "VerbalUnder",
                                    "writtenUnd",
                                    "Exaggerative",
                                    "QTC"
                                };

    // private async Task Process()
    // {

    //     // foreach(var proj in projectList)
    //     // {
    //     //     switch(proj)
    //     //     {
    //     //         case "FitToConcept":
    //     //             await fitToConceptService.GetFitToConceptData();
    //     //             new DLLCls().FitToConceptMethod(path, data.Cast<FitToConceptModel>().ToList()),
    //     //             break;
    //     //         default:
    //     //             break;
    //     //     }
    //     // }

    //     var definitions = new List<ReportDefinition>
    //         {
    //             new("FitToConcept", async () => (await fitToConceptService.GetFitToConceptData()).Cast<object>(),
    //                 (path, data) => new DLLCls().FitToConceptMethod(path, data.Cast<FitToConceptModel>().ToList())),

    //             new("OverallImpressions", async () => (await fitToConceptService.GetOverallImpressionsData()).Cast<object>(),
    //                 (path, data) => new DLLCls().OverallImpressionsMethod(path, data.Cast<OverallImpressionsModel>().ToList())),

    //             new("Att1", async () => (await fitToConceptService.GetAtt1Data()).Cast<object>(),
    //                 (path, data) => new DLLCls().Attribute1Method(path, data.Cast<Aev1>().ToList())),

    //             new("Att2", async () => (await fitToConceptService.GetAtt2Data()).Cast<object>(),
    //                 (path, data) => new DLLCls().Attribute2Method(path, data.Cast<Aev2>().ToList())),

    //             new("AttrAggr", async () => (await fitToConceptService.GetAttrAggData()).Cast<object>(),
    //                 (path, data) => new DLLCls().AttributeMethodForAttributeEvalAggreg(path, data.Cast<Aev3>().ToList())),

    //             new("Memorability", async () => (await fitToConceptService.MemorabilityData()).Cast<object>(),
    //                 (path, data) => new DLLCls().MemorabilityMethod(path, data.Cast<Memorability>().ToList())),

    //              new("PersonalPref", async () => (await fitToConceptService.PersonalPrefData()).Cast<object>(),
    //                 (path, data) => new DLLCls().PersonalPreferencesMethod(path, data.Cast<PersonalPreference>().ToList())),

    //             new("Suffix", async () => (await fitToConceptService.SuffixData()).Cast<object>(),
    //                 (path, data) => new DLLCls().SuffixMethod(path, data.Cast<Suffix>().ToList())),

    //              new("VerbalUnder", async () => (await fitToConceptService.VerbalUnderData()).Cast<object>(),
    //                 (path, data) => new DLLCls().VerbalUnderstandingBarMethod(path, data.Cast<VerbalUnderstanding>().ToList())),

    //             new("writtenUnd", async () => (await fitToConceptService.WrittenUnderData()).Cast<object>(),
    //                 (path, data) => new DLLCls().WrittenUnderstandingMethod(path, data.Cast<WrittenUnderstanding>().ToList())),

    //              new("Exaggerative", async () => (await fitToConceptService.ExaggData()).Cast<object>(),
    //                 (path, data) => new DLLCls().ExaggerativeMethod(path, data.Cast<Likeability>().ToList())),

    //         };

    //     hasProcessStarted = true;
    //     currentState = ProcessState.Generating;

    //     try
    //     {

    //         foreach (var def in definitions)
    //         {
    //             var request = new ReportGenerationRequest
    //                 {
    //                     ProjectTemplateType = def.projectType,
    //                     TaskId = Guid.NewGuid()
    //                 };

    //             var taskId = await fitToConceptService.GenerateReportAsync(request);

    //             if (request != null)
    //             {
    //                 reportStatuses.Add(new ReportStatus
    //                     {
    //                         ProjectName = request.ProjectTemplateType!,
    //                         TaskId = taskId,
    //                         Status = "Queued"
    //                     });
    //             }

    //             _ = PollStatusAsync(taskId);
    //         }

    //         // var request = new ReportGenerationRequest
    //         //     {
    //         //         ProjectTemplateType = fitToConceptsData?.First().ProjectTemplateType!,
    //         //         TaskId = Guid.NewGuid()
    //         //     };

    //         // var taskId = await fitToConceptService.GenerateReportAsync(request);

    //         // if (request != null)
    //         // {
    //         //     reportStatuses.Add(new ReportStatus
    //         //         {
    //         //             ProjectName = request.ProjectTemplateType!,
    //         //             TaskId = taskId,
    //         //             Status = "Queued"
    //         //         });
    //         // }

    //         // _ = PollStatusAsync(taskId);
    //     }
    //     catch (Exception ex)
    //     {
    //         throw new Exception(ex.Message);
    //     }
    // }

    private async Task Process()
    {
        hasProcessStarted = true;
        currentState = ProcessState.Generating;

        try
        {
            foreach (var project in projectList)
            {
                var request = new ReportGenerationRequest
                    {
                        ProjectTemplateType = project,
                        TaskId = Guid.NewGuid()
                    };

                var taskId = await fitToConceptService.GenerateReportAsync(request);

                reportStatuses.Add(new ReportStatus
                    {
                        ProjectName = request.ProjectTemplateType,
                        TaskId = taskId,
                        Status = "Queued"
                    });

                hasProcessStarted = false;
                _ = PollStatusAsync(taskId);
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            // Log or handle exception
            throw new Exception($"Failed to generate reports: {ex.Message}");
        }
    }

    private async Task PollStatusAsync(Guid taskId)
    {
        while (true)
        {
            //var response = await http.GetFromJsonAsync<ReportStatus>($"api/report/status/{taskId}");
            var status = await fitToConceptService.GetReportStatusAsync(taskId);

            var task = reportStatuses.FirstOrDefault(x => x.TaskId == taskId);
            if (task != null) task.Status = status;

            if (status == "Done" || status.StartsWith("Error")) break;
            StateHasChanged();
        }

        currentState = ProcessState.Done;

        StateHasChanged();
    }


}
